// @import "./variable";
body {
  background: $color-Bg;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: calc(50% - 0px) calc(50% - 0px);
}
.crew {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
}
.destination {
  background-image: url(../assets/destination/background-destination-desktop.jpg);

}
.index {
  background-image: url(../assets/home/background-home-desktop.jpg);
}
.technology {
  background-image: url(../assets/technology/background-technology-desktop.jpg);

}

/* Media Query for Mobile Devices */
@media (max-width: 580px) {
  body {
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 581px) and (max-width: 880px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
}

// /* Media Query for Tablets Ipads portrait mode */
// @media (min-width: 768px) and (max-width: 1024px) {
//   body {
//     background-image: url(../assets/home/background-home-tablet.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//   }
// }
