// color and backgrounds
$color-Bg: hsl(230 35% 7%);
$clr-light: hsl(231 77% 90%);
$clr-white: hsl(0 0% 100%);

//font size
// --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
:root {
  --fs-900: 9.375rem;
  --fs-800: 6.25rem; // TODO add clamp
  --fs-700: 3.5rem; // TODO add clamp
  --fs-600: clamp(1.25rem, 4vw, 2rem);
  --fs-500: clamp(1rem, 3vw, 1.75rem);
  --fs-400: 1.125rem;
  --fs-300: clamp(0.875rem, 1vw, 1rem);
  --fs-200: 0.875rem; // TODO add clamp
  // explore button
  --logo: 3rem;
}

/* typography */

$letter-spacing-1: 4.75px;
$letter-spacing-2: 2.7px;
$letter-spacing-3: 2.35px;
$lineHeight: 1.5;

.uppercase {
  text-transform: uppercase;
}
@media (max-width: 580.99px) {
  :root {
    --fs-900: 5rem;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    // --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    // explore button
    --logo: 2.5rem;
  }
}
@media (min-width: 581px) and (max-width: 880px) {
  :root {
    --fs-900: 9.375rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
    // explore button
  }
}

// font
$font-heading: "Bellefair", serif;
$font-heading-5: "Barlow Condensed", sans-serif;
$font-paragraph: "Barlow", sans-serif;
@mixin font {
  font-family: $font-heading-5;
  font-weight: 400;
}

.heading {
  font-family: $font-heading;
  font-size: var(--fs-900);
  font-weight: 400;
  line-height: $lineHeight;
  animation: hanime 0.5s linear;
}

.Heading-5 {
  font-size: var(--fs-500);
  font-family: $font-heading-5;
  letter-spacing: $letter-spacing-1;
  color: $clr-light;
  animation: h5anime 0.5s linear;
}

.paragraph-1 {
  font-size: var(--fs-400);
  font-family: $font-paragraph;
  animation: h1anime 0.5s linear;
}

@keyframes h1anime {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hanime {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes h5anime {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin navText {
  font-size: var(--fs-400);
  @include font;
  letter-spacing: $letter-spacing-2;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
